/*defaults */
* {
	box-sizing: border-box;
}

#body{
	 background: radial-gradient(circle 30px,  #fceabb, #f8b500);
	 background-repeat: no-repeat;
}

/*Text formatting*/
a.social, a.service, p.paragraph{
	font-family: Bodoni MT;
	font-size: 16px;
}

h3.heading{
	font-family: Trebuchet MS;
	font-size: 18px;
}

/*Define links activity.*/
a { color: black;}
a:visited { color: black;}
a:hover { color: black;}
a:active { color: #787878;}

/*Divider lines.*/
.divider{
	width: 100%;
}
/*Image gallery*/
#slide{
	 height: 40%;
	 display: block;
	 margin-Left: auto;
	 margin-right: auto;
	 border-radius: 30px;
}

/*Div formatting*/
#content{
	  position: relative;
	  left: 15%;
	  width: 70%;
	  height: 35vw;
		overflow: auto;
}

#leftContent{
  position: absolute;
  left: 2%;
  width: 47%;
  height: 100%;
}
#centerLine{
  position: absolute;
  background-color:orange;
  left: 50%;
  width: 1px;
  height: 95%;
}
#rightContent{
  position: absolute;
  right: 2%;
  width: 47%;
  height: 100%;
}
#header{
	position: relative;
	height: 20%;
	width: auto;
}
#footer {
	position: relative;
  text-align: right;
	height: 20%;
	width: auto;
}


/*Mobile devices*/
@media only screen and (max-device-width: 480px) {

	#body{
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(circle, 0% 0%, 0% 100%, from(#fceabb), to(#f8b500));

		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(circle 20%,  #fceabb, #f8b500);

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(circle 20%,  #fceabb, #f8b500);

		/* IE 10 */
		background: -ms-linear-gradient(circle 20%,  #fceabb, #f8b500);

		/* Opera 11.10+ */
		background: -o-linear-gradient(circle 20%,  #fceabb, #f8b500);

		background-attachment: fixed;
		}

	/*Div formatting*/
	#content{
		  position: absolute;
			top: 15%;
			left: 0%;
		  width: 99%;
		  height: 80%;
	}

	#leftContent{
	  position: relative;
		width: 100%;
		height: auto;
	}
	#centerLine{
		position: relative;
		background-color: grey;
		left: 0px;
		width: 100%;
		height: 1px;
	}
	#rightContent{
	  position: relative;
		left: 0%;
	  width: 100%;
	  height: 50%;
	}
	#header{
		position: absolute;
		height: 10%;
		width: 100%;
	}
	#footer {
		position: absolute;
	  text-align: right;
		top: 95%;
		height: auto;
		width: 100%;
	}

	/*Divider lines.*/
	.divider{
		width: 100%;
		left: 0%
	}
	/*Image gallery*/
	#slide{
		 height: 50%;
		 display: block;
		 margin-Left: auto;
		 margin-right: auto;
		 border-radius: 30px;
	}
	/*Link positioning*/
	#instagram{
		position: relative;
		bottom: 0%;
		left: 10%;
	}
	#facebook{
		position: relative;
		bottom: 0%;
		left: 50%;
	}
	
}
